# Ignore artifacts: 
/build
/node_modules

# Ignore files: 
/public
/src/assets/styles
/src/index.css
Dockerfile
package.json
package.lock.json
railway.toml
README.md
.dockerignore
.gitignore