FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
MONGO_DB_PROTOCOL=mongodb
MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_DB_NAME=scipio
MONGO_DB_USER=admin
MONGO_DB_PASSWORD=password
MONGO_DB_PARAMS=?authSource=admin
